<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h3>{{title}}</h3>
<h1> Formulario de Registro</h1>
<form>

  <table>
    <tr>
      <td><label for="nombre">Nombre</label></td>
      <td><input type="text" name="nombre" placeholder="Ingresa tu nombre" [(ngModel)]="nombre"></td>
    </tr>
    <tr>
      <td><label for="apellido">Apellido</label></td>
      <td><input type="text" name="apellido" placeholder="Ingresa tu apellido" [(ngModel)]="apellido"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="button" name="enviar" value="Enviar" (click)="registrarUsuario()"></td>
    </tr>
  </table>
</form>

<p *ngIf="registrado; else noRegistrado">{{mensaje}} con el nombre de {{nombre}} {{apellido}}</p>
<ng-template #noRegistrado>
  <p>no existe nadie registrado</p>
</ng-template>

<h1>Mis Pasiones</h1>
<div *ngFor="let pasion of mispasiones">
      {{pasion.titulo}}
</div>

<h1>Esta es una linea editada desde la nube</h1>

<h1>Mis Emprendimientos</h1>

<ul>
  <li *ngFor="let empredimiento of misemprendimientos; let i=index">
   {{i}}- {{empredimiento.titulo}}
  </li>
</ul>

<ol>
  <li *ngFor="let amor of misamores">{{amor.nombre}}</li>
</ol>
